.card {
  background: var(--color-light);
  border: 1px solid var(--color-dark);
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(25, 26, 35, 0.1);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  color: var(--color-primary);
  margin-bottom: 0.5rem;
}
